<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ChooseYourFuel</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AzeretMono-Bold.ttf</string>
		<string>AzeretMono-ExtraBold.ttf</string>
		<string>AzeretMono-Medium.ttf</string>
		<string>AzeretMono-Regular.ttf</string>
		<string>AzeretMono-SemiBold.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Medium.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>CourierPrime-Bold.ttf</string>
		<string>CourierPrime-BoldItalic.ttf</string>
		<string>CourierPrime-Italic.ttf</string>
		<string>CourierPrime-Regular.ttf</string>
		<string>CutiveMono-Regular.ttf</string>
		<string>FiraMono-Bold.ttf</string>
		<string>FiraMono-Medium.ttf</string>
		<string>FiraMono-Regular.ttf</string>
		<string>FragmentMono-Italic.ttf</string>
		<string>FragmentMono-Regular.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Italic.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>KodeMono-Bold.ttf</string>
		<string>KodeMono-Medium.ttf</string>
		<string>KodeMono-Regular.ttf</string>
		<string>KodeMono-SemiBold.ttf</string>
		<string>MartianMono-Bold.ttf</string>
		<string>MartianMono-Medium.ttf</string>
		<string>MartianMono-Regular.ttf</string>
		<string>MartianMono-SemiBold.ttf</string>
		<string>NotoSansMono-Bold.ttf</string>
		<string>NotoSansMono-Medium.ttf</string>
		<string>NotoSansMono-Regular.ttf</string>
		<string>NotoSansMono-SemiBold.ttf</string>
		<string>NovaMono-Regular.ttf</string>
		<string>OverpassMono-Bold.ttf</string>
		<string>OverpassMono-Light.ttf</string>
		<string>OverpassMono-Medium.ttf</string>
		<string>OverpassMono-Regular.ttf</string>
		<string>OverpassMono-SemiBold.ttf</string>
		<string>OxygenMono-Regular.ttf</string>
		<string>PTMono-Regular.ttf</string>
		<string>RedHatMono-Bold.ttf</string>
		<string>RedHatMono-Medium.ttf</string>
		<string>RedHatMono-Regular.ttf</string>
		<string>RedHatMono-SemiBold.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>SometypeMono-Bold.ttf</string>
		<string>SometypeMono-Medium.ttf</string>
		<string>SometypeMono-Regular.ttf</string>
		<string>SometypeMono-SemiBold.ttf</string>
		<string>Sono-Bold.ttf</string>
		<string>Sono-ExtraBold.ttf</string>
		<string>Sono-ExtraLight.ttf</string>
		<string>Sono-Light.ttf</string>
		<string>Sono-Medium.ttf</string>
		<string>Sono-Regular.ttf</string>
		<string>Sono-SemiBold.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>SourceCodePro-Medium.ttf</string>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>SplineSansMono-Bold.ttf</string>
		<string>SplineSansMono-Medium.ttf</string>
		<string>SplineSansMono-Regular.ttf</string>
		<string>SplineSansMono-SemiBold.ttf</string>
		<string>UbuntuMono-Bold.ttf</string>
		<string>UbuntuMono-BoldItalic.ttf</string>
		<string>UbuntuMono-Italic.ttf</string>
		<string>UbuntuMono-Regular.ttf</string>
		<string>AnonymousPro-Bold.ttf</string>
		<string>AnonymousPro-BoldItalic.ttf</string>
		<string>AnonymousPro-Italic.ttf</string>
		<string>AnonymousPro-Regular.ttf</string>
		<string>Archivo-Bold.ttf</string>
		<string>Archivo-Medium.ttf</string>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>ArchivoCondensed-Bold.ttf</string>
		<string>ArchivoCondensed-ExtraBold.ttf</string>
		<string>ArchivoCondensed-Medium.ttf</string>
		<string>ArchivoCondensed-Regular.ttf</string>
		<string>ArchivoCondensed-SemiBold.ttf</string>
		<string>ArchivoCondensed-Thin.ttf</string>
		<string>ArchivoExpanded-Bold.ttf</string>
		<string>ArchivoExpanded-Medium.ttf</string>
		<string>ArchivoExpanded-Regular.ttf</string>
		<string>ArchivoExpanded-SemiBold.ttf</string>
		<string>ArchivoExtraCondensed-Bold.ttf</string>
		<string>ArchivoExtraCondensed-Medium.ttf</string>
		<string>ArchivoExtraCondensed-Regular.ttf</string>
		<string>ArchivoExtraCondensed-SemiBold.ttf</string>
		<string>ArchivoSemiCondensed-Bold.ttf</string>
		<string>ArchivoSemiCondensed-Medium.ttf</string>
		<string>ArchivoSemiCondensed-Regular.ttf</string>
		<string>ArchivoSemiCondensed-SemiBold.ttf</string>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-BoldItalic.ttf</string>
		<string>Arimo-Italic.ttf</string>
		<string>Arimo-Medium.ttf</string>
		<string>Arimo-MediumItalic.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Arimo-SemiBold.ttf</string>
		<string>Arimo-SemiBoldItalic.ttf</string>
		<string>CabinSketch-Bold.ttf</string>
		<string>CabinSketch-Regular.ttf</string>
		<string>Cutive-Regular.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica-Regular.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>Inconsolata-Medium.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Inconsolata-SemiBold.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-BoldItalic.ttf</string>
		<string>JosefinSans-ExtraLight.ttf</string>
		<string>JosefinSans-ExtraLightItalic.ttf</string>
		<string>JosefinSans-Italic.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-LightItalic.ttf</string>
		<string>JosefinSans-Medium.ttf</string>
		<string>JosefinSans-MediumItalic.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-SemiBoldItalic.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>JosefinSans-ThinItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Lexend-Black.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-ExtraBold.ttf</string>
		<string>Lexend-ExtraLight.ttf</string>
		<string>Lexend-Light.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>Lexend-Thin.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-Medium.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Overlock-Black.ttf</string>
		<string>Overlock-BlackItalic.ttf</string>
		<string>Overlock-Bold.ttf</string>
		<string>Overlock-BoldItalic.ttf</string>
		<string>Overlock-Italic.ttf</string>
		<string>Overlock-Regular.ttf</string>
		<string>Overpass-Black.ttf</string>
		<string>Overpass-BlackItalic.ttf</string>
		<string>Overpass-Bold.ttf</string>
		<string>Overpass-BoldItalic.ttf</string>
		<string>Overpass-ExtraBold.ttf</string>
		<string>Overpass-ExtraBoldItalic.ttf</string>
		<string>Overpass-ExtraLight.ttf</string>
		<string>Overpass-ExtraLightItalic.ttf</string>
		<string>Overpass-Italic.ttf</string>
		<string>Overpass-Light.ttf</string>
		<string>Overpass-LightItalic.ttf</string>
		<string>Overpass-Medium.ttf</string>
		<string>Overpass-MediumItalic.ttf</string>
		<string>Overpass-Regular.ttf</string>
		<string>Overpass-SemiBold.ttf</string>
		<string>Overpass-SemiBoldItalic.ttf</string>
		<string>Overpass-Thin.ttf</string>
		<string>Overpass-ThinItalic.ttf</string>
		<string>PTSans-Bold.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>PlaypenSans-Medium.ttf</string>
		<string>PlaypenSans-Regular.ttf</string>
		<string>PlaypenSans-SemiBold.ttf</string>
		<string>PoetsenOne-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>ReadexPro-Bold.ttf</string>
		<string>ReadexPro-Medium.ttf</string>
		<string>ReadexPro-Regular.ttf</string>
		<string>ReadexPro-SemiBold.ttf</string>
		<string>Recursive-Medium.ttf</string>
		<string>Recursive-Regular.ttf</string>
		<string>Recursive-SemiBold.ttf</string>
		<string>RecursiveCasual-Medium.ttf</string>
		<string>RecursiveCasual-Regular.ttf</string>
		<string>RecursiveCasual-SemiBold.ttf</string>
		<string>RecursiveMonospace-Medium.ttf</string>
		<string>RecursiveMonospace-Regular.ttf</string>
		<string>RecursiveMonospace-SemiBold.ttf</string>
		<string>RecursiveMonospaceCasual-SemiBold.ttf</string>
		<string>RecursiveMonospace_Casual-Medium.ttf</string>
		<string>RecursiveMonospace_Casual-Regular.ttf</string>
		<string>RedHatDisplay-Black.ttf</string>
		<string>RedHatDisplay-BlackItalic.ttf</string>
		<string>RedHatDisplay-Bold.ttf</string>
		<string>RedHatDisplay-BoldItalic.ttf</string>
		<string>RedHatDisplay-ExtraBold.ttf</string>
		<string>RedHatDisplay-ExtraBoldItalic.ttf</string>
		<string>RedHatDisplay-Italic.ttf</string>
		<string>RedHatDisplay-Light.ttf</string>
		<string>RedHatDisplay-LightItalic.ttf</string>
		<string>RedHatDisplay-Medium.ttf</string>
		<string>RedHatDisplay-MediumItalic.ttf</string>
		<string>RedHatDisplay-Regular.ttf</string>
		<string>RedHatDisplay-SemiBold.ttf</string>
		<string>RedHatDisplay-SemiBoldItalic.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
		<string>VarelaRound-Regular.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
	</array>
</dict>
</plist>
